.signIn-form {
  color: #2b1b19;
  margin: 5% auto;
  text-align: center;
  width: 20%;
}

.signIn-form h2 {
  margin-bottom: 5%;
}

label {
  font-weight: bold;
}

input {
  border-radius: 0.1em;
  border: none;
  display: block;
  font-size: 3vh;
  margin: 5% auto;
  padding: 0.1em;
}

::placeholder {
  color: #0487d9;
}

select {
  border: none;
  color: #0487d9;
  cursor: pointer;
  font-size: 2vh;
  margin-top: 2%;
}

.signIn-btn {
  /* display: block; this is what was making the underline strange */
  cursor: pointer;
  font-size: 3vh;
  margin: 5% auto;
  padding: 2% 3%;
}

.error-message {
  color: #f23322;
  font-size: 3vh;
  font-weight: bold;
  margin-top: 2%;
}
