.signIn-form {
    border: 1px solid blue;
    width: 80%;
    text-align: center;
    margin: 5% 10%;
}

input {
    font-size: 3vh;
    display: block;
    margin: 5% auto;    
}

select {
    font-size: 2vh;
    cursor: pointer;
}

.signIn-btn {
    border-radius: 10px;
    display: block;
    font-size: 3vh;
    margin: 5% auto;
    padding: 2% 3%;
    cursor: pointer;
} 