*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  height: 100vh;
  width: 100vw;
}

body {
  background-color: #9BD1F2;
  background-image: url("/VRAD/images/background.jpg");
  background-size: cover;
  color: #2b1b19;
  font-family: "Oxygen", sans-serif;
  /* height: 100% */
  /* width: 100vw; */
}

button {
  background-color: #f2ac29;
  border-radius: 0.2em;
  border: none;
  box-shadow: 1px 1px 1px #2b1b19;
  color: #2b1b19;
  cursor: pointer;
  font-family: "Anton", sans-serif;
  letter-spacing: 0.1em;
  padding: 0.25em;
}

button:hover {
  border: solid 1.5px #d96523;
}

/* colors
bright red #F23322
brightest blue #049DD9
burnt orange #D96523
darkest blue #0487D9
lightest blue #9BD1F2
text #2B1B19
yellow #F2AC29

fonts
font-family: 'Oxygen', sans-serif; (regular)
font-family: 'Anton', sans-serif; (heading / button)
*/
