.listing-card {
  align-items: center;
  background-image: linear-gradient(#9bd1f2, #0487d9);
  border-radius: 2px;
  box-shadow: 2px 2px 2px #2b1b19;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0.5em;
  padding: 0.5em;
  width: 47%;
}

.listing-img-a {
  border-radius: 0.1em;
  box-shadow: 1px 1px 1px #2b1b19;
  margin: 0.5em;
  width: 95%;
}

.listing-name {
  text-decoration: underline;
}
