header {
  background-image: linear-gradient(#9bd1f2, #0487d9);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

h1 {
  font-family: "Anton", sans-serif;
  color: #f2ac29;
  text-shadow: 2px 2px 1px #2b1b19;
  grid-column: 1 / 2;
  grid-row: 2;
  letter-spacing: 0.2em;
}

.acronym {
  font-family: "Anton", sans-serif;
  text-shadow: 1px 1px 0px #f2ac29;
  grid-column: 1 / 2;
  grid-row: 1;
}

.message-section {
  grid-column: 3 / 4;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* margin-top: 0; */
}

.welcome-message {
  grid-column: 2 / 3;
  /* display: inline-block; */
}

.guest-details {
  grid-column: 1 / 2;
}

.guest-details {
}

.guest-details p {
}

.button-section {
  grid-column: 2 / 3;
}

button {
  background-color: #f2ac29;
  border: none;
  border-radius: 0.2em;
  box-shadow: 1px 1px 1px #2b1b19;
  color: #2b1b19;
  cursor: pointer;
  font-family: "Anton", sans-serif;
  letter-spacing: 0.1em;
  padding: 0.25em;
}
