header {
  background-image: linear-gradient(#9bd1f2, #0487d9);
  color: #2b1b19;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 1%;
}

h1 {
  color: #f2ac29;
  font-family: "Anton", sans-serif;
  grid-column: 1 / 2;
  letter-spacing: 0.2em;
  margin-left: 2%;
  text-shadow: 2px 2px 1px #2b1b19;
}

.acronym {
  display: inline-block;
  font-family: "Anton", sans-serif;
  grid-column: 1 / 2;
  margin-left: 2%;
  text-shadow: 1px 1px 0px #f2ac29;
}

.message-section {
  display: grid;
  grid-column: 3 / 4;
  grid-template-columns: 1fr 1fr;
  margin-top: 0;
}

.welcome-msg {
  display: inline-block;
  font-size: 4vh;
  grid-column: 2 / 3;
  grid-column: 2 / 3;
  margin: 3% auto;
}

.guest-details {
  grid-column: 1 / 2;
  margin: 2% 0%;
}

.button-section {
  grid-column: 2 / 3;
}

.btn-section {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  margin: 1%;
}

.btn-section button {
  display: inline-block;
  font-size: 2vh;
  margin: 3%;
  padding: 3%;
}

.my-favorites-btn-active button {
  background-color: #d96523;
}
