.area-card {
  display: flex;
  flex-direction: column;
  width: 47%;
  padding: 0.5em;
  align-items: center;
  justify-content: space-around;
  margin: .5em;
  background-image: linear-gradient(#9bd1f2, #0487d9);
  box-shadow: 2px 2px 2px #2b1b19;
  border-radius: 2px;
}

.area-name {
  text-decoration: underline;
}
